.Search-engine {
  border: 2px solid orange;
  margin: 30px 50px;

  background-color: #e1e8a0;
}
.text-wrapp {
  text-align: center;
  margin-top: 15px;
}

.results {
  border: 2px solid green;
  margin: 0 50px;
}
